/* Estilo básico para el select */
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    width: 30%;
    background-color: white; /* Establece el color de fondo predeterminado */
    
}

/* Estilo cuando el select está enfocado (seleccionado) */
select:focus {
    border-color: #007bff; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agrega una pequeña sombra */
}

.container{
    display: flex;
    opacity: 0.7;
}